#boards {
    background-color: green;
}

.card-block {
    min-height: 100px;
    min-width: 10px;
}



#trashbin {
    background: url("https://www.shareicon.net/download/2017/04/22/884929_bin_512x512.png");
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 100px;
    background-size: cover;
git}
