<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProMan</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hover.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Bangers|Black+Ops+One|Bungee+Inline|Fascinate+Inline|Faster+One|Orbitron|Press+Start+2P|VT323|Wallpoet"
          rel="stylesheet">
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/form_control.js') }}" defer></script>
</head>
<body class="my_background">
<div id="bg_image"></div>
<div id="filter_overlayer"></div>
<div class="container">
    <h1 class="navbar my_text"><img src="/static/img/proman_gif.gif" left="0"></h1>
    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <form class="form-signin" action="/register" method="post">
                <h2 class="form-signin-heading">Register</h2>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user"></i></div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username"
                           name="username" required>
                </div>
                <div class="input-group mb-2 form-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                           required>
                </div>
                <div class="pwd-match-alert" style="color:darkred; display: none" >Passwords don't match</div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend ">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    <input type="password" class="form-control" id="password_confirm" placeholder="Confirm password"
                           name="password_corfirm" required>
                </div>
                <button class="btn btn-lg btn-block sign-in" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>